@import 'app.sass'
header
    h1
        @include center()
        @include basicLink()
        a, a:hover, a:focus, a:active
            font-family: 'Playfair Display SC', serif  
            text-decoration: none
    nav
        display: flexbox
        flex-direction: row
        text-align: center
        @include basicLink()
        .link
            font-weight: bold
            font-size: 20px
