header
    h1
        a, a:hover, a:focus, a:active
            color: rgb(0, 0, 0)
            font-family: 'Playfair Display SC', serif  
            text-decoration: none
    nav
        display: flexbox
        flex-direction: row
        text-align: center
        a, a:hover, a:focus, a:active
            color: black
        .link
            font-weight: bold
            font-size: 20px
